extends layout

block content
  h1 Congratulations!
  p You found the Skirmisher applications server, it just hosts APIs and stuff, nothing interesting. OK, well the APIs are interesting, but only to programmers. Like me, maybe you too. Why are you here again?
